/* Aybala Bengi Canpolat
2609096564 */

body{
    /* margin: 100% auto; */
    font-family: 'Open Sans', sans-serif;

}

/* 
@media screen and (max-width: 950px) {
    .contentSection{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
} */


 .logo {
    height: 68px;
    display: block; 
    margin-top: 2%;
    margin-left: auto;
     margin-right: auto;
}


/* .container-fluid {
    border-bottom-style: solid;
} */

.container .logout-btn {
    margin-top: 0px;
    float: right;
}

.custom-select{
    margin-bottom: 5%;
}

.back{
    margin: 2%;
}

.back a{
    font-size: large;
}



.rating-container {
    width: 60%;
    height: 90%;
    top: 25%;
    margin: 0 auto;
    position: relative;
    border-style: groove;
    padding: 0% 5% 5% 5%;

    font-size: large;

}

.rating-container .TAs-div, .courses-div, .semester-div{
    margin-bottom: 2%; 
}

.rating-container .comments{
    margin-top: 2%;
}


form .rating-container .TAs-div select, .courses-div select {
    float: right;
    display: block;
    width: 40%;
    line-height: 1em;
    font-size: 13px;
    padding: 10px 15px;
    background-color: #f8f8f8;


}

    
/* Star Rating Styling */
    .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
    
    .rating > input{
     display:none;
}
    
    .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 5vw;  
    color: red;
    cursor: pointer;
}
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
}
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
}
    
    .rating > input:checked ~ label:before{
    opacity:1;
}
    
    .rating:hover > input:checked ~ label:before{ 
    opacity: 0.4;
}
/* Star Rating Styling */

form .rating-container input[type="submit"],
.rating-container button {
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #2769cb;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  float: right;
}





